.contact-head{
    margin-top: 120px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    font-family: "Epunda Slab", serif;
}
.contact-para{
    font-size: 18px;
    font-weight: 500;
    font-family: "Epunda Slab", serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    opacity: 0.9;
}
.contact-form{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    background-color:rgba(190, 61, 42,0.9) ;
    padding: 30px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    width: 350px;
}
.input-form{
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}
.input-file{
    color: white;
    margin-left: 30px;
}
.btn{
    padding: 10px 16px;
    border-radius: 10px;
    border: none;
    background-color: #102E50;
    color: white;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;

}
.contact-section-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contact-icon{
    height: 20px;
    margin-right: 10px;
}
.contact-info{
    background-color:rgba(190, 61, 42,0.9) ;
    padding: 30px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    height: 230px;
}
.head-contact{
    color:#F5C45E;
}
@media screen and (max-width:768px){
    .contact-head{
    margin-top: 120px;
    font-size: 18px;
}
.contact-para{
    font-size: 14px;
}
.contact-form{
    padding: 30px 0px 10px 0px;
    border-radius: 16px;
    width:100% ;
}
.input-form{
    width: 280px;
    padding: 6px;
    border-radius: 5px;
    font-size: 10px;
}
.input-file{
    font-size: 12px;
    margin-left: 50px;
}
.btn{
    padding: 10px 12px;
    font-size: 12px;
}
.contact-section-row{
    flex-direction: column;
    justify-content:none;
    gap: 20px;
}
.contact-icon{
    height: 14px;
}
}