.footer-container{
    background-color: #102E50 ; 
    height: 180px;
    padding:10px 0px 50px 0px;
    margin-top: 50px;
}
.footer-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}
.footer-logo{
    display: flex;
    flex-direction: column;
}
.footer-main-name{
    font-size: 22px;
    color: white;
    font-weight: 700;
}
.footer-align{
   display: flex;
   flex-direction: row;
   align-items: center;
}
.icon-align{
    margin-right: 10px;
    height: 20px;
}
.footer-quick-links{
    text-decoration: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
    gap: 10px;
}
.footer-quick-links:hover{
    color: #F5C45E;
}
.copyright-sector{
    font-family: "Epunda Slab", serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    padding-top: 10px;
}
.general-para-1{
    font-size: 20px;
    color: white;
    font-weight: 700;
    opacity: 0.9;
    font-family: "Epunda Slab", serif;
}
@media screen and (max-width:768px){
    .footer-container{
     height: auto;
     padding-left: 30px;
}
.footer-section{
    flex-direction: column;
    gap: 30px;
}
.footer-main-name{
    font-size: 15px;
}
.icon-align{
    margin-right: 8px;
    height: 18px;
}
.footer-quick-links{
   font-size: 15px;
}
.copyright-sector{
  font-size: 14px; 
  padding-top: 20px;
}
.general-para-1{
    font-size: 16px;
}
    
}