.general-info{
    margin-top: 100px;
    padding: 0px 20px 0px 50px;
}
.general-heading{
    padding-top: 150px;
    font-size: 40px;
    color: white;
    font-weight: 700;
    font-family: "Epunda Slab", serif;
}
.general-para{
    font-size: 20px;
    color: white;
    font-weight: 700;
    opacity: 0.9;
    font-family: "Epunda Slab", serif;
}
.about-head{
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    font-family: "Epunda Slab", serif;
}
.about-para{
    font-size: 20px;
    font-weight: 700;
    opacity: 0.9;
    font-family: "Epunda Slab", serif;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    padding: 30px;
    background-color: aliceblue;
    border-radius: 20px;
}