section{
    margin-top: 150px;
    background-color: rgba(190, 61, 42,0.8) ;  
    margin-left:  590px; 
    margin-right: 590px;
    border-radius: 20px;
    box-shadow: 0px 6px 18px rgba(0,0,0,0.4);
    font-family: "Epunda Slab", serif;
    height: 400px;
}
section h2{
    padding: 10px;
    text-align: center;
    color: white;
}
.label-name{
    font-size: 18px;
    padding: 10px;
    color: white;
}
.input-text{
    border-radius: 5px;
    padding: 5px;
    outline: none;
    border: none;
    width: 300px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.para{
    padding: 10px;
}
.btn{
    padding: 5px 20px;
    font-size: 18px;
    color: white;
    background-color: #102E50;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}
@media screen and (max-width:768px){
    section{
    margin-top: 70px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    border-radius: 10px;
    height: 330px;
}
section h2{
    font-size: 16px;
    padding: 10px;
    text-align: center;
}
.label-name{
    font-size: 12px;
    padding: 10px;
}
.input-text{
    padding: 5px;
    font-size: 12px;
    width: 360px;
    margin-bottom: 10px;
}
.para{
    font-size: 12px;
    padding: 10px;
}
.btn{
    padding: 5px 20px;
    font-size: 14px;
    border-radius: 10px;
    margin-bottom: 10px;
}
}