body{
    margin: 0;
    padding: 0;
    background-color: rgba(190, 61, 42,0.2);
}
.bg-img-index{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(./../images/bg-img-home.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.nav-main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    z-index: 100px;
    background-color: rgba(0,0,0,0.4);
}
.logo-section{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo{
    height: 100px;
}
.logo-name{
    font-size: 30px;
    color:white;
    font-weight: 700;
}
.nav-menu-section{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 600px;
}
.nav-align{
    display:flex ;
    flex-direction: row;
    align-items: center;
}
.nav-icon{
   height: 20px;
   padding-right: 10px;
}
.nav-link{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: white;
}
.nav-link:hover{
    color:#F5C45E;
}